//backgrounds
$bg-body: white;
$bg-hover-secondary: rgb(221, 221, 221);
$bg-hover-primary: #0a2a96a1;

//colors
$color-primary: #0a3b80;
$color-secondary: rgb(221, 221, 221);
$color-success: green;
$color-warning: yellow;
$color-danger: red;
