//backgrounds
$bg-body: white;
$bg-hover-secondary: rgb(221, 221, 221);
$bg-hover-primary: #ba28c7c2;

//colors
$color-primary: purple;
$color-secondary: rgb(221, 221, 221);
$color-success: green;
$color-warning: yellow;
$color-danger: red;
