@import "../../../public/scss/bg";

.map-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .close-map-box{
        display: flex;
        width: 100%;
        flex-grow: 0;
        background: $bg-hover-secondary;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        .close-btn{
            font-size: 1.5rem;
            cursor: pointer;
            color: $color-primary;
            margin-left: auto;
            &:hover{
                color: $color-danger; 
            }
        }
    }
    
}

#loading-bar{

    &-left{
  
        animation: loading-bar-morph 1s linear .1s infinite;
        transform-origin: center;
    }
    &-middle{
  
        animation: loading-bar-morph 1s linear .2s infinite;
        transform-origin: center;
    }
    &-right{
  
        animation: loading-bar-morph 1s linear .4s infinite;
        transform-origin: center;
    }
}

@keyframes loading-bar-morph {

    0%{

        transform: scaleY(1);
    }
    25%{

        transform: scaleY(0.3);
    }
    50%{

        transform: scaleY(0.7);
    }
    75%{

        transform: scaleY(0.15);
    }
}
