@import "../../../public/scss/bg";


#building-container{
    position: relative;
    z-index: 5;
    opacity: 1 !important;
    // .titles-buildings{
        
    // }

    .building-list{
        cursor: pointer;
        transition: all .5s ease;
        &:hover{
            background: $bg-hover-secondary;
        }
        .location-link{
            border: none;
            transition: all .5s ease-in-out !important;
            border-radius: 20px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            
            &:hover{
                background-color: $bg-hover-primary !important;
                color: $bg-body !important;
            }
        }
    }

}
