@import "../../../public/scss/bg";
@import "../../../public/scss/borders";


#building-container{
    position: relative;
    z-index: 5;
    opacity: 1 !important;

    .btn{
        display: flex;
        border-radius: 20px !important;
        justify-content: center;
        align-items: center;

    }
   
    .building-list{
        flex-direction: column;
        transition: all .5s ease-in-out;
        background: $bg-body;
        border-radius: 15px;
        border: $border-primary;
        &:hover{
            background: $bg-hover-secondary;
            .see-rooms{
            background: $bg-body;

            }
        }
        .number-rooms{
            cursor: auto;
            background: $bg-hover-primary;
           
        }
        .see-rooms {
            background: $bg-hover-secondary;
            color: $color-primary !important;
            &:hover{
                background: $bg-hover-primary;
                color: $bg-body;
                .bi{
                    color: $bg-body !important;
                }
            }
        }    
    }
    .location-link{
        border: $border-primary;
        cursor: pointer;
        &:hover{
            background-color: $bg-hover-primary !important;
            color: $bg-body !important;
            .bi{
                color: $bg-body !important;
            }
        }
    }

}
