// .animation-box{
//     inset: -1em;
//     flex-direction: column;
//     opacity: .8;
    
// }


.animation-video{
    width: 100%;
    border-bottom-left-radius: 50vw;
    border-top-right-radius: 50vw;
    z-index: -1;
    opacity: .8;
    position: fixed;
    top: 0;
}
