.animation-box{
    inset: -1em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    background: transparent;
    opacity: .8;
}
.svg-img{
flex-grow: 1;
flex-shrink: 1;
width: 100%;
border-bottom-left-radius:  20px;
opacity: .3;
}
.animation-video{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}


