@import "../../../public/scss/bg";

.nav-web{
    color: $bg-body;
    position: sticky;
    top: 0;
    z-index: 5;
    flex-wrap: wrap;
    height: max-content;
    cursor: pointer;
    border-bottom-right-radius: 5vw;
    border-bottom-left-radius: 5vw;
    background: $bg-hover-secondary;
    transition: all .5s ease;
    #title-text-web, #collasible-nav-dropdown{ 
        color: $color-primary;
        font-size: x-large;
    }
    
    &:hover{
        color: $bg-hover-primary;
        background: $bg-hover-primary;
        #title-text-web, #collasible-nav-dropdown{ 
            color: $bg-body;
    
        }
    }
}
