@import "../../../public/scss/bg";
@import "../../../public/scss/borders";


.nav-web{
    color: $bg-body;
    position: relative;
    height: max-content;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background: $bg-body;
    transition: all .5s ease;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;

    .active{
        color: blue !important;
        font-weight: bolder;
        &:hover{
            color: blue !important;
        }
    }
    .navbar-toggler{
        color: $bg-hover-primary;
        cursor: pointer;
        &:hover{
            color: $bg-body;
        }
    }
    .navbar-nav{
        flex-wrap: wrap;
        .nav-link{
            cursor: pointer;
            font-size: 1.1rem;
            &:hover{
                color: blue !important;
                font-weight: bold;
            }
        }
        .btn-login{
            background: $bg-hover-primary;
            border-radius: 2rem;
            display: flex;
            font-weight: bold;
            justify-content: center;
            transition: all .5s ease-in-out;
            align-items: center;
            border: none;
            &:hover{
                border: $border-primary;
                background: $bg-body;
            }
        }
    }
    
}
  .sticky{
    position: fixed;
    top: 0 !important;
    z-index: 200;
    transition: all .2s ease-in-out;
    border: none;
    border-bottom: 1px solid rgba(0, 26, 255, 0.775);
    box-shadow: 5px 5px rgba(198, 198, 198, 0.819);
    background:  $bg-body;
}
