@import '../../../public/scss/bg';
@import '../../../public/scss/borders';

.Rooms{
    inset:  0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $bg-body;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    min-height: 100vh;
    //close room box
    .close-map-box{
        display: flex;
        width: 100%;
        flex-grow: 0;
        background: transparent;
        .close-btn{
            font-size: 1.5rem;
            cursor: pointer;
            color: $color-primary;
            margin-left: auto;
            &:hover{
                color: $color-danger; 
            }
        }
    }
    //rooms box
    #rooms-box {
        flex: 1 1 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: transparent;
        flex-wrap: wrap;
        .room{
            transition: all .5s ease-in-out;
            // border: $border-primary;
            box-shadow: 5px 5px rgb(138, 136, 136);
            background: $bg-body;
            cursor: pointer;
            border-radius: 15px !important;
            margin: .5rem;
            &:hover {
                    background: $bg-hover-secondary; 
            }
            .line{
                background: green;
                width: 100%;
                height: 5px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

            }
            .card-body{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .label-box{
                    hr{
                        color: rgb(138, 136, 136);
                        height: 5px;
                    }
                }
                .room-name{
                    flex-wrap: wrap;
                    flex-shrink: 1;
                    height: fit-content;
                }
            .status-btns{
                .btn{
                    border-radius: 2rem;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    box-sizing: border-box;
                   
                    .text-success{
                        border-left: 5px solid green;
                        background: white;
                        &:hover{
                            background: green !important;
                            color: $bg-body !important;

                        }

                    }
                    .text-danger{
                        border-left: 5px solid red;
                        background: white;
                        cursor: auto;
                        &:hover{
                            background: none;
                        }
                    }

                }

            }

            }  
        }
    }
    
    

}