@import '../../../public/scss/bg';
@import '../../../public/scss/borders';

.Rooms{
    inset:  0;
    display: flex;
    flex-wrap: wrap;
    background: $bg-body;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    min-height: 100vh;
}
.room{
    border: $border-primary;
    background: $bg-hover-secondary;
    border-radius: 15px !important;
    transition: all .5s ease-in-out;
    &:hover{
    background: transparent;
    border: 2px solid purple;
    
        .card{
            display: flex;
            flex-direction: column;
            height: fit-content;
            
        }
    }
}

// .card{
//     flex-direction: column;
//     display: flex;
// }
.card-body{
    flex-direction: column;
}
.label-box{
    flex-direction: column;
}