@import "../../../public/scss/bg";
@import "../../../public/scss/borders";

.footer{
    background: $bg-hover-primary;
    position: inherit;
    z-index: 100; 
    pointer-events: none;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all .5s ease-in-out;
    opacity: 1 !important;
    height: fit-content;
    .copy-right{
            opacity: .5;
            flex-wrap: wrap;
         background: transparent !important;          
    }
    a{
        text-decoration: none;
        opacity: .5;
        &:hover{
            color:  $color-primary !important ;
        }
    } 
  

}