@import "../../../public/scss/bg";


.login{
    position: fixed;
    z-index: 200;
    top: 0;
    padding-top: 5vh;
    background: white;
.cover {
    background-color: $bg-body;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    input {
        border: none;
        background-color: $bg-hover-secondary;
        text-align: center;
        padding: .5em;
        font-size: 0.75em;
        border-radius: 20px;
        color:  $bg-hover-primary;
        font-size: 1rem;
        &:focus {
            outline-color: rgb(32, 177, 255);
            font-weight: bold;
         }
    }
    .login-btn {
        background-color: rgb(32, 177, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 20px;
        cursor: pointer;
      &:hover  { transform: scale(1.15);}
    }
    
    .password-reset{
        display: flex;
        justify-content: space-between;
         p{
            cursor: pointer;
        }
    }
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 40em;
    width: 40em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: rgb(4, 4, 41);
    color: white;
    top: 0;
    align-self: center;
    transform: scale(1);
    transition: 1.5s;
    border-radius: 50%;
}

}
