@import "~bootstrap/scss/bootstrap";
@import "../public/scss/bg";

.body-animation{
    font-family: "Poppins"  sans-serif !important;
    scroll-behavior: smooth;
    height: fit-content;
}
.app {
    position: relative;
    inset: 0;
    font-family: "Poppins"  sans-serif !important;
    background:  transparent;
    overflow-y: auto;
    .alinks{
        background: $bg-body cover;
        ::-webkit-scrollbar{
            width: auto !important;
        }
    }
}

