@import "../../../public/scss/bg";
@import "../../../public/scss/borders";

.comment-section {
  display: flex;
  flex-wrap: wrap-reverse;
}
.anvelope-box{
    transform: rotate(0.2turn);
    animation: circle 5s linear 2s infinite alternate;
    .anvelope{
    transform: rotate(.1turn);
    }
}
@keyframes circle {
    0%   {transform: rotate(0.1turn);}
    25%  {transform: rotate(0.2turn);}
    50%  {transform: rotate(0.3turn);}
    75%  {transform: rotate(0.4turn);}
    100% {transform: rotate(0.5turn);;}
  }
  .verified{
    border-radius: 2rem;
}
  .form-enquiry{
    textarea{
      &:focus{
        box-shadow: none !important;
      }
    }
    input{
        background: rgba(216, 216, 216, 0.474) ;
        outline: none;
        color: $color-primary !important;
        border-radius: 10px;
        font-weight: bold;
        &:focus{
          border:  1px solid rgba(173, 173, 173, 0.737);
            background: white;
            box-shadow: none;
        }
    }
  }
  .contacts{
    border-top: none !important;
    flex: 1 1 40%;
    border: 1px solid rgba(4, 112, 9, 0.894);
    border-radius: 1rem;
    padding: 1rem;
    a{
        border-radius: 15px;
        padding: .5rem;
        text-decoration: none;
        transition: all .5s ease-in-out;
        background: white;
        font-weight: bold;
        color: $color-primary;
        display: flex;
        justify-content: center;
        border-left: 5px solid $color-primary;
        border-right: 5px solid $color-primary;
        align-items: center;
        &:hover{
            background: $color-primary;
            color: white;
        }
        i{
            font-size: 1.2rem;
        }
    }
  }
  